<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>esercitazione_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TodoListServlet</display-name>
    <servlet-name>TodoListServlet</servlet-name>
    <servlet-class>todolist.servlet.TodoListServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>todolist</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>toor</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoListServlet</servlet-name>
    <url-pattern>/todolists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedTodoListServlet</display-name>
    <servlet-name>SharedTodoListServlet</servlet-name>
    <servlet-class>todolist.servlet.SharedTodoListServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>todolist</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>toor</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedTodoListServlet</servlet-name>
    <url-pattern>/sharedtodolists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessTodoListServlet</display-name>
    <servlet-name>AccessTodoListServlet</servlet-name>
    <servlet-class>todolist.servlet.AccessTodoListServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>todolist</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>toor</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTodoListServlet</servlet-name>
    <url-pattern>/accesstodolist</url-pattern>
  </servlet-mapping>
</web-app>